input {
    margin: 0 0 0 0.5rem;
}

.input-text {
    height: 2rem;
    border-radius: 1rem;
    border: none;
}

.input-error {
    border: 2px solid #ae2012;
}

input-area {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
}

input[type=color] {
    appearance: none;
    background-color: transparent;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    cursor: pointer;
}

    input[type=color]::-webkit-color-swatch {
        border-radius: 50%;
        border: 2px solid #fff;
    }

    input[type=color]::-moz-color-swatch {
        border-radius: 50%;
        border: 2px solid #fff;
    }
