@import 'comment.css';
@import 'dialog-menu.css';

:root {
    font-family: Calibri;
    font-size: 12pt;
    color: forestgreen;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}
